@media screen and (max-width: 2000px){
li a{
	font-size: 22px;
	margin:30px;
	padding-right: 22px;
}
nav{
	margin-bottom: 25px;
}
.tape1{
    top: -30px;
}

.tape1 img
{
    width: 100%;
}
}

@media screen and (max-width: 1350px){
li a{
	font-size: 20px;
	margin:30px;
	padding-right: 22px;
}
nav{
	margin-bottom: 10px;
}
.tape1{
    top: -30px;
}

.tape1 img
{
    width: 100%;
}
}

@media screen and (max-width: 1250px){
li a{
	font-size: 18px; 
	margin:28px;
	padding-right: 22px;
}
.tape1{
    top: -30px;
}

.tape1 img
{
    width: 100%;
}
}

@media screen and (max-width: 1150px){
li a{
	font-size: 16px;
	margin:26px;
	padding-right: 22px;
}
.tape1{
    top: -30px;
}

.tape1 img
{
    width: 100%;
}
}

@media screen and (max-width: 1050px){
li a{
	font-size: 14px;
	margin:24px;
	padding-right: 22px;
}
.tape1{
    top: -30px;
}

.tape1 img
{
    width: 100%;
}
}

@media screen and (max-width: 950px){
li a{
	font-size: 12px;
	margin:22px;
	padding-right: 22px;
}
.tape1{
    top: -30px;
}

.tape1 img
{
    width: 100%;
}
}

@media screen and (max-width: 850px){
li a{
	font-size: 10px;
	margin:20px;
	padding-right: 22px;
}
.tape1{
    top: -30px;
}

.tape1 img
{
    width: 100%;
}
}

@media screen and (max-width: 750px){
li a{
	font-size: 10px;
	margin:16px;
	padding-right: 22px;
}

.tape1{
    top: -25px;
}

.tape1 img
{
    width: 70%;
}
}

@media screen and (max-width: 650px){
li a{
	font-size: 10px;
	margin:10px;
	padding-right: 22px;
}
.tape1{
    top: -20px;
}

.tape1 img
{
    width: 70%;
}
}

@media screen and (max-width: 550px){
li a{
	font-size: 8px;
	margin:8px;
	padding-right: 22px;		
}
.tape1{
    top: -15px;
}

.tape1 img
{
    width: 70%;
}
}

@media screen and (max-width: 450px){
li a{
	font-size: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 22px;
}
.tape1{
    top: -10px;
}

.tape1 img
{
    width: 60%;
}
}

@media screen and (max-width: 350px){
li a{
	font-size: 7px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 10px;
}
.tape1{
    top: -10px;
}

.tape1 img
{
    width: 60%;
}
}

@media screen and (max-width: 250px){
li a{
	font-size: 5px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 2px;
}
.tape1{
    top: -5px;
}

.tape1 img
{
    width: 60%;
}
}


body{
	background-color: black;
	margin: 0px;
}

header img{
	max-width: 100%; 
	max-height: auto; 
	margin: 0px;
}

h1{
    font-family: Courier new;
    font-style: bold;
    font-size: 50px;
    color: yellow;
}
h2{
    font-family: Courier new;
	color: white;
    font-style: bold;
    font-size: 40px;
}


p a{
    font-family: Courier new;
	font-size: 20px;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
	background-color: yellow;
    float:center;
    position: relative; top: -80px;
}

#about_band{
    text-align: center;
}

#album{
    text-align: center;
    /*margin: 0px;*/
}


#tour{

}
#webstore{
 /*margin-top: -77px;   */
}
#band{
    /*margin-top: -24px;*/
}
#videos{
    /*background-image: url("../Images/video_01.jpg");*/
    margin: 0px;
}
p a:hover{
	padding: 16px;
}

.tape1{
    width: 30vw; 
    max-width: 300px;
    height: auto; 
    position: absolute;
    left: 0px;
}

#tape{
	position: absolute;
}
nav img{
float: center;
width: 100%;
height: auto;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: relative;
}

li{
    float: left;
   
}

li a{
    display: block;
    font-family: Impact;
    color: black;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    color: rgb(42,42,42);

}


* {
    box-sizing: border-box;
}
